<div class="panel panel-primary cartpol_content">
    <div class="panel-heading">
        <h3 class="panel-title">Selecione as informações</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="informacao_geral_form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Superintendência</label>
                <div class="col-sm-10">
                    <div class="btn-group-vertical">
                        <select class="form-control" id="superintendencia">
                          <option value="sp001">sp001</option>
                          <option value="sp002">sp002</option>
                          
                        </select>                    
                    </div>                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DSPC</label>
                <div class="col-sm-10">
                    <div class="btn-group-vertical">
                        <select class="form-control" id="dspc">
                          <option value="dspc03">dspc03</option>
                          <option value="dspc04">dspc04</option>
                        </select>                    
                    </div> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Delegacia</label>
                <div class="col-sm-10">
                    <div class="btn-group-vertical">
                        <select class="form-control" id="delegacia">
                          <option value="Del10">Del10</option>
                          <option value="Del11">Del11</option>
                        </select>                    
                    </div> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Delegado</label>
                <div class="col-sm-10">
                    <div class="btn-group-vertical">
                        <select class="form-control" id="delegado">
                          <option value="Adriano">Adriano</option>
                          <option value="Breno">Breno</option>
                        </select>                    
                    </div> 
                </div>
            </div>
            </br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>