<div class="panel panel-primary cartpol_content">
    <div class="panel-heading">
        <h3 class="panel-title">Identifique-se</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="login_form">
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Matrícula</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputEmail" placeholder="Matrícula">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Senha</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lembrar de mim
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</div>