<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Boletim de Ocorrência</h3>
  </div>
  <div class="panel-body">

    <!-- Títulos das abas -->
    <ul class="nav nav-tabs">
      <li class="active"><a id="tab_infogerais"  href="#infogerais"  data-toggle="tab">Informações Gerais</a></li>
      <li><a id="tab_comunicante" href="#comunicante" data-toggle="tab">Comunicante</a></li>
      <li><a id="tab_vitimas"     href="#vitimas"     data-toggle="tab">Vítimas</a></li>
      <li><a id="tab_testemunhas" href="#testemunhas" data-toggle="tab">Testemunhas</a></li>
      <li><a id="tab_acusados"    href="#acusados"    data-toggle="tab">Acusados</a></li>
      <li><a id="tab_objetos"     href="#objetos"     data-toggle="tab">Objetos</a></li>
      <li><a id="tab_concluir"    href="#concluir"    data-toggle="tab">Concluir</a></li>
    </ul>
    
    <!-- Conteúdo das abas -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="infogerais">
        <br/>
        <div class="row">
          <div class="form-group">  
            <label for="inputInfoGeraisVersando" class="col-sm-2 control-label">Boletim versando sobre</label>  
            <div class="col-sm-10">    
              <input class="form-control valid" id="inputInfoGeraisVersando" placeholder="Boletim versando sobre" name="inputInfoGeraisVersando" aria-invalid="false">  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">  
            <label for="inputInfoGeraisDataFato" class="col-sm-2 control-label">Data do fato</label>  
            <div class="col-sm-3">    
              <input class="form-control data valid" id="inputInfoGeraisDataFato" placeholder="Data do fato" name="inputInfoGeraisDataFato" aria-invalid="false">  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">  
            <label for="inputInfoGeraisHoraFato" class="col-sm-2 control-label">Hora do fato</label>  
            <div class="col-sm-3">    
              <input class="form-control hora valid" id="inputInfoGeraisHoraFato" placeholder="Hora do fato" name="inputInfoGeraisHoraFato" aria-invalid="false">  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">  
            <label for="inputInfoGeraisLocalFato" class="col-sm-2 control-label">Local do fato</label>  
            <div class="col-sm-10">    
              <input class="form-control valid" id="inputInfoGeraisLocalFato" placeholder="Local do fato" name="inputInfoGeraisLocalFato" aria-invalid="false">  
            </div>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-sm-offset-2 col-sm-10">
            <a href="#" class="btn btn-success pull-right para_tab_comunicante">Próximo</a>
          </div>
        </div>
      </div> 

      <div class="tab-pane fade" id="comunicante">
        <br/>
        <form class="form-horizontal" role="form" id="comunicante_form">
          {{{formularioPessoa "comunicante"}}}
          {{{campoTexto "historicoComunicante" "Histórico"}}}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" class="btn btn-primary para_tab_infogerais">Anterior</a>
              <a href="#" class="btn btn-success pull-right para_tab_vitima">Próximo</a>
            </div>
          </div>
        </form>
      </div> <!-- Comunicante -->

      <div class="tab-pane fade" id="vitimas">
        <br/>
        <div class="row" id="div_tabela_vitimas">
          <div id="div_zero_vitimas">
            <h1 style="text-align: center">Não há vítimas cadastradas</h1>
            <h3 style="text-align: center">Clique no botão Adicionar para incluir uma vítima neste BO.</h3>
          </div>
          <table class="table table-hover" id="tabela_vitimas">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
              </tr>
            </thead>
            <tbody id="corpo_tabela_vitimas">
            </tbody>
          </table>  
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-primary" id="botao_adicionar_vitima">Adicionar</button>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="#" class="btn btn-primary para_tab_comunicante">Anterior</a>
            <a href="#" class="btn btn-success pull-right para_tab_testemunha">Próximo</a>
          </div>
        </div>
        
        <!-- Modal Vítima -->
        <div class="modal fade" id="modal_vitima" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <form class="form-horizontal" role="form" id="vitima_form">
                  {{{formularioPessoa "vitima"}}}
                  {{{campoTexto "declarouVitima" "E declarou que"}}}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="botao_salvar_vitima">Salvar</button>
                <button type="button" class="btn btn-danger" id="botao_excluir_vitima">Excluir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div> <!-- Modal Vítima -->
        
      </div> <!-- Vitimas -->
      <div class="tab-pane fade" id="testemunhas">
        <br/>
        <div class="row" id="div_tabela_testemunhas">
          <div id="div_zero_testemunhas">
            <h1 style="text-align: center">Não há testemunhas cadastradas</h1>
            <h3 style="text-align: center">Clique no botão Adicionar para incluir uma testemunha neste BO.</h3>
          </div>
          <table class="table table-hover" id="tabela_testemunhas">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
              </tr>
            </thead>
            <tbody id="corpo_tabela_testemunhas">
            </tbody>
          </table>  
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-primary" id="botao_adicionar_testemunha">Adicionar</button>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="#" class="btn btn-primary para_tab_vitima">Anterior</a>
            <a href="#" class="btn btn-success pull-right para_tab_acusado">Próximo</a>
          </div>
        </div>
        
        <!-- Modal Testemunha -->
        <div class="modal fade" id="modal_testemunha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <form class="form-horizontal" role="form" id="testemunha_form">
                  {{{formularioPessoa "testemunha"}}}
                  {{{campoTexto "declarouTestemunha" "E declarou que"}}}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="botao_salvar_testemunha">Salvar</button>
                <button type="button" class="btn btn-danger" id="botao_excluir_testemunha">Excluir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div> <!-- Modal Testemunha -->
        
      </div> <!-- Testemunhas -->
      <div class="tab-pane fade" id="acusados">
        <br/>
        <div class="row" id="div_tabela_acusados">
          <div id="div_zero_acusados">
            <h1 style="text-align: center">Não há acusados cadastrados</h1>
            <h3 style="text-align: center">Clique no botão Adicionar para incluir um acusado neste BO.</h3>
          </div>
          <table class="table table-hover" id="tabela_acusados">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
              </tr>
            </thead>
            <tbody id="corpo_tabela_acusados">
            </tbody>
          </table>  
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-primary" id="botao_adicionar_acusado">Adicionar</button>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="#" class="btn btn-primary para_tab_testemunha">Anterior</a>
            <a href="#" class="btn btn-success pull-right para_tab_objeto">Próximo</a>
          </div>
        </div>
        
        <!-- Modal Acusado -->
        <div class="modal fade" id="modal_acusado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <form class="form-horizontal" role="form" id="acusado_form">
                  {{{formularioPessoa "acusado"}}}
                  {{{campoTexto "declarouAcusado" "E declarou que"}}}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="botao_salvar_acusado">Salvar</button>
                <button type="button" class="btn btn-danger" id="botao_excluir_acusado">Excluir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div> <!-- Modal Acusado -->
        
      </div> <!-- Acusados -->
      <div class="tab-pane fade" id="objetos">
        <br/>
        <div class="row" id="div_tabela_objetos">
          <div id="div_zero_objetos">
            <h1 style="text-align: center">Não há objetos cadastrados</h1>
            <h3 style="text-align: center">Clique no botão Adicionar para incluir um objeto apreendido nesse BO.</h3>
          </div>
          <table class="table table-hover" id="tabela_objetos">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>Em poder de</th>
              </tr>
            </thead>
            <tbody id="corpo_tabela_objetos">
            </tbody>
          </table>  
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-primary" id="botao_adicionar_objeto">Adicionar</button>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="#" class="btn btn-primary para_tab_acusado">Anterior</a>
            <a href="#" class="btn btn-success pull-right para_tab_concluir">Próximo</a>
          </div>
        </div>
        <!-- Modal Objeto Apreendido -->
        <div class="modal fade" id="modal_objeto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <form class="form-horizontal" role="form" id="objeto_form">
                  {{{formularioObjetoApreendido }}}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="botao_salvar_objeto">Salvar</button>
                <button type="button" class="btn btn-danger" id="botao_excluir_objeto">Excluir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div> <!-- Modal Objeto Apreendido -->
      </div> <!-- Objetos Apreendidos -->
      <div class="tab-pane fade" id="concluir">
        <br/>
        <div class="row">
          <h3 style="text-align: center">
            Para gerar o documento do BO com todos os dados entrados nas abas 
            anteriores clique no botão <strong>Concluir</strong> abaixo.
          </h3>
          <div class="col-md-2 col-md-offset-5">
            <a href="javascript:void(0)" class="btn btn-success btn-lg" id="botao_gerar_bo">Concluir</a>
          </div>
        </div>
        <form class="form-horizontal" role="form" id="acusado_form">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" class="btn btn-primary para_tab_objeto">Anterior</a>
            </div>
          </div>
        </form>
      </div> <!-- Concluir -->
    </div> 
  </div> <!-- Tab panes -->

</div>
</div>